<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FAQ</title>
  <link rel="stylesheet" href="/css/game.css" />
  <script src="/js/faq.js" defer></script>
</head>
<body>
  <section class="faq-section">
    <h1>Frequently Asked Questions</h1>

    <div class="faq-item">
      <button class="faq-question">How many people can play in a game?</button>
      <div class="faq-answer">4 players total per game!</div>
    </div>

    <div class="faq-item">
      <button class="faq-question">What do the wild cards do?</button>
      <div class="faq-answer">The regular wild card allows you to choose a color, while the +4
        allows the change of color along with the next player in turn drawing 4 cards.</div>
    </div>

    <div class="faq-item">
      <button class="faq-question">Is this game free to play?</button>
      <div class="faq-answer">Yes! The game is completely free to play.</div>
    </div>

  </section>
</body>
</html>
