<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/game.css">
<!-- <style>
    :root {
        --scaling-factor: 0.5;
    }
    body,
    html {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    .layout {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(#016cb4, #001e3a);
    }

    .game-container {
        height: 95%;
        width: 85%;
        margin: 20px auto;
        /* background-color: #fff; */
    }

    .deck {
        position: absolute;
        height: 200px;
        width: 250px;
        /* background-color: grey; */
        top: calc(50%);
        left: calc(50%);
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .player {
        position: absolute;
        height: 400px;
        width: 900px;
        /* height: 200px;
        width: 300px; */
        /* background-color: grey; */
    }

    .card {
        display: inline-block;
        width: calc(62px / var(--scaling-factor));
        height: calc(93px / var(--scaling-factor));
        filter: drop-shadow(0px 6px 6px #00000099);
        cursor: pointer;
    }

    .card img {
        width: 100%;
    }

    .wait {
        height: 200px;
        width: 400px;
        position: absolute;
        background-color: white;
        border-radius: 3px;
        top: calc(50% - 100px);
        left: calc(50% - 200px);
    }
</style> -->
<script src="/socket.io/socket.io.js"></script>

<body onload="main()">
    <div class="layout">
        <div class="game-container">
        </div>
    </div>
    <!-- <script src="/scripts/game.js"></script> -->
    <script src="/scripts/game2.js"></script>
</body>

</html>